<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
    <add key="auth_server_host" value="http://localhost/AuthApp/" />     <!--AuthServer URI-->
    <add key="auth_login_handler" value="Login.ashx" />
    <add key="auth_registration_handler" value="Registration.ashx" />
    <add key="auth_passwordRecovery_handler" value="PasswordRecovery.ashx" />
    <add key="auth_admin_handler" value="Admin.ashx" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="WSHandler" verb="*"
         path="WSChat.WSHandler"
         type="WSHandler, WSChat"
         resourceType="Unspecified" />
    <add name="LoginHandler" verb="*"
         path="WSChat.LoginHandler"
         type="LoginHandler, WSChat"
         resourceType="Unspecified" />
      <add name="ClientLoadHandler" verb="*"
         path="WSChat.ClientLoadHandler"
         type="ClientLoadHandler, WSChat"
         resourceType="Unspecified" />
    </handlers>
  </system.webServer>
 <!-- <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.82.0" newVersion="1.0.82.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
</configuration>