body {
    font-family: "Lato", sans-serif;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    height: 32px;
}

/* Style the links inside the tab */
div.tab a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 3px 4px;
    border: 1px solid #ccc;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
div.tab a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 2px 3px;
    border-top: none;
}

.tabPage{
     height: 300px;
     border: 1px solid #ccc;
     overflow: scroll;
}

#roomPanel {
    width: 450px;
}

#wrapper{
    display: table;
    margin: 0 auto;
}

#wrapper > .block{
    display: inline-block;
    height: 300px;
}

.glyphicon-remove{
    font-size:12px;
}

.glyphicon-refresh{
    cursor: pointer;
}

.msgList {
    list-style-type: none;
    padding-left: 0;
}

#username {
    font-size: 17px;
    color: cornflowerblue;
}

div.panel > a.list-group-item {
    background-color: #337ab7;
    color: white;
}

.lobby{
    display:none;
}

.auth {
    border: groove;
    width: 405px;
    padding: 10px;
    margin: 30px 0 0 33%;
    <!--display:none;-->
}

.auth td > input{
    margin: 3px;
}
.auth td>input[type=button]{
    width: 130px;
}