<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="protocol" value="ws" />
    <!--"ws://sanyok-001-site1.htempurl.com-->
    <add key="wsuri" value="ws://localhost/WSChat/WSHandler.ashx" />
    <add key="auth_server_host" value="http://localhost/AuthApp/" />
    <add key="auth_login_handler" value="Login.ashx" />
    <add key="auth_registration_handler" value="Registration.ashx" />
    <add key="auth_passwordRecovery_handler" value="PasswordRecovery.ashx" />
  </appSettings>
</configuration>