<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
  <add key="MySql" value="Server=sql11.freesqldatabase.com;Port=3306;Database=sql11163728;Uid=sql11163728;Pwd=3mdBcaEsYD;CharSet=utf8;" />
  <add key="smtp_UserName" value="gameXO.helpe@gmail.com" />
  <add key="smtp_Password" value="bilokbilok1" />
    </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
        <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <handlers>
    <add name="Login" verb="*" path="AuthApp.Login" type="Login, AuthApp" resourceType="Unspecified" />
    <add name="Register" verb="*" path="AuthApp.Register" type="Register, AuthApp" resourceType="Unspecified" />
    <add name="PasswordRecovery" verb="*" path="AuthApp.PasswordRecovery" type="PasswordRecovery, AuthApp" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>